
img{
    @include img-basic;
.img-avatar {
    @include img-margins;
    max-height: 100%;
}
}
.img{
  &-frame {
    @include img-margins;
    padding: 13px;
    border: 1px solid #ccc;
  }
  &-logo {
    @include img-basic;
  }
}